<html>
    <head>
            <meta charset="utf-8">
            <title>Herramientas</title>
            <% include partials/head %>
    </head>
    <body>

        <script type="text/javascript">
          window.eventos = <%- JSON.stringify(Eventos) %>
        </script>
        <script>
            function onChange() {
              var id = document.getElementById("eventosSelect").value; 
           
        
              const event = eventos.filter((ev) => ev._id == id)
             
              let descriptionsHTML = ''
              event[0].descripcion.forEach(des => {
                descriptionsHTML += `<option value=${des.name}> ${des.name} </option>`
              })
              document.getElementById("descripcionSelect").innerHTML = descriptionsHTML;
            }
        </script>

        <script>
          $( document ).ready(function() {
                $('#Contenido1').hide();
            });
        </script>


            <div class="dashboard_container top-container">
                    <div class="row">
                      
                      <!--SideBar Coordinador/Socorrista-->

                
                        <div class="col">
                

                            
                
                            <div class="tab-content" id="v-pills-tabContent">
                
                
                              
                                  <!--Herramientas de Coordinador-->
                                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                      <% var TipoUsuario = user.local.role; %>
                                      <div class="card ">
                                          <div class="card-header text-center">
                                            <%  if( TipoUsuario === 0 ) { %>
                                              COORDINADOR DE PLAYA
                                            <% } else if(TipoUsuario === 2) { %>
                                             
                                            SOCORRISTA DE PLAYA
                                            <% } %>   
                                          </div>
                                          
                                          <div class="card-body">
                                            <div class="list-group">

                                              <%
                                                 
                                                if( TipoUsuario === 0 ) { %> 
                                              

                                              <a href="/MostrarMapa/<%=Playas.id%>" class="list-group-item list-group-item-action"><img src="../icons/location.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Mostrar Mapa</a>
                                              <a href="/ubicarServicios/<%=Playas.id%>" class="list-group-item list-group-item-action"><img src="../icons/edit.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Editar Servicios de Playa</a>
                                              <a href="/riesgos/<%=Playas.id%>" class="list-group-item list-group-item-action"><img src="../icons/warning.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Gestión de Riesgos</a>
                                              <a href="/caracteristicasPlaya/<%=Playas.id%>" class="list-group-item list-group-item-action"><img src="../icons/error.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Editar Características de Playa</a>
                                              <a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#exampleModal1"><img src="../icons/informe.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Generar Informes</a>
                                              <a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#exampleModal"> <img src="../icons/note.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Actuaciones Activas y Actuaciones Reactivas</a>
                                              <a href="/incidentes/<%=Playas.id%>" class="list-group-item list-group-item-action" > <img src="../icons/note.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Incidentes</a>
                                              <a href="" class="list-group-item list-group-item-action"><img src="../icons/history.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Histórico de Eventos Registrados (Visualización/Edición)</a>
                                              <a href="/avisos/<%=Playas.id%>" class="list-group-item list-group-item-action"><img src="../icons/history.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Histórico de Avisos Registrados (Visualización/Edición)</a>
                                              
                                            <% }
                                            else if(TipoUsuario === 2) { %>
                                              <a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#exampleModal"> <img src="../icons/note.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Registro de Actuaciones en Playa</a>
                                              <a href="" class="list-group-item list-group-item-action"><img src="../icons/history.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Histórico de Eventos Registrados (Visualización/Edición)</a>
                                              <a href="/avisos/<%=Playas.id%>" class="list-group-item list-group-item-action"><img src="../icons/history.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Histórico de Avisos Registrados (Visualización/Edición)</a>
                                            <% } %>
                                            </div>
                                          </div>
                              
                                        </div>
                                       
                
                                  </div>
<script>
  var playaActual = "<%=Playas.nombre %>";
</script>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Acciones Preventivas / Avisos Preventivos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col"></div>
          <div class="col-auto">
          <p>Acciones Preventivas (Actuaciones Activas)</p>
          <select class="form-control" id="AccionesPreventivasSelect" >
            <option selected disabled>Selecciona una Actuación Activa</option>
            <%
            for(var i =0; i < Actuacionesactivas.length; i++){ 
              %> <option><%=Actuacionesactivas[i].ActuacionActivas%></option> <%  }
            %>
          </select>
          <hr>
          <script>  
              $("#AccionesPreventivasSelect").change(function() {
                  var val = $(this).val();
                  document.getElementById("ActuacionActivaPost").value = val;
                  document.getElementById("ActuacionActivaPlaya").value = playaActual;
                  document.FormActuacionActiva.submit();
                  
              });
            
          </script>
          <form action="/addActivas" method="post" name="FormActuacionActiva">
            <input type="hidden" name="ActuacionActiva" id="ActuacionActivaPost">
            <input type="hidden" name="playa" id="ActuacionActivaPlaya">
          </form>
          </div>
          <div class="col"></div>
          </div>

          <br>

          <div class="form-row">
          <div class="col"></div>
          <div class="col-auto">
            <p>Avisos Preventivos (Actuaciones Reactivas)</p>
              <select class="form-control" id="ActuacionReactivaSelect">
                  <option selected disabled>Selecciona una Actuación Reactiva</option>
                  <%
                  for(var i =0; i < ActuacionesReactivas.length; i++){ 
                    %> <option><%=ActuacionesReactivas[i].ActuacionreactivasNombre%></option> <%  }
                  %>
                </select>
                <hr>
          </div>
          <div class="col"></div>
          </div>

          <script>
                $("#ActuacionReactivaSelect").change(function() {
                  var val = $(this).val();
                  document.getElementById("ActuacionReactivaPost").value = val;
                  document.getElementById("ActuacionReactivaPlaya").value = playaActual;
                  //document.theFormActuacionReactiva.submit();
                  $('#Contenido1').show();
              });
          </script>


        <div id="Contenido1">
            <div class="form-row">
                <div class="col"><input class="form-control" placeholder="Fecha" name="fecha"></div>
                    <div class="col-md-1"><input class="form-control" placeholder="Hora" name="hora"></div>
                    <div class="col-md-1"><input class="form-control" placeholder="Minuto" name="minuto"></div>
                    <div class="col-md-1"><input class="form-control" placeholder="Segundo" name="segundo"></div>
                
              <div class="col">
                    <select class="form-control" id="Sexo">
                      <option disabled selected>Sexo</option>
                      <option value="Hombre">Hombre</option>
                      <option value="Mujer">Mujer</option>
                      <option value="Otro">Otro</option>
                    </select>
                </div>

              <div class="col">
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Campaña de Prevención
                      </label>
                    </div>
              </div>
        </div>

        <script>
              $("#Sexo").change(function() {
                  var val = $(this).val();
                  document.getElementById("SexoPost").value = val;
              });
              $("#Pais").change(function() {
                  var val = $(this).val();
                  document.getElementById("PaisPost").value = val;
              });
              $("#Edad").change(function() {
                  var val = $(this).val();
                  document.getElementById("EdadPost").value = val;
              });
              $("#Actividad").change(function() {
                  var val = $(this).val();
                  document.getElementById("ActividadPost").value = val;
              });
        </script>

        <br>

        <div class="form-row">
              <div class="col">
                  <select class="form-control" id="Pais">
                      <option disabled selected>Pais</option>
                      <option value="Pais1">Pais1</option>
                    </select>
              </div>
              <div class="col">
                  <select class="form-control" id="Edad">
                      <option disabled selected>Edad</option>
                      <option value="Edad1">Edad1</option>
                    </select>
              </div>
              <div class="col">
                  <select class="form-control" id="Actividad">
                      <option disabled selected>Actividad</option>
                      <option value="Actividad1">Actividad1</option>
                    </select>
              </div>
        </div>
        
        <br>
        <div id="map"></div>
        <br>

        <script>
           function RellenarInputs(){
            var checkedValue = $('.defaultCheck1:checked').val();
            document.getElementById("campañaPost").value = checkedValue;
           }
        </script>

        <div class="form-row">
          <div class="col"></div>
          <div class="col-auto">
              <form action="/addReactivas" method="post" >
                <input type="hidden" name="ActuacionReactiva" id="ActuacionReactivaPost">
                <input type="hidden" name="playa" id="ActuacionReactivaPlaya">
                <input type="hidden" name="sexo" id="SexoPost">
                <input type="hidden" name="edad" id="EdadPost">
                <input type="hidden" name="actividad" id="ActividadPost">
                <input type="hidden" name="pais" id="PaisPost">
                <input type="hidden" name="campañasPrevencion" id="campañaPost">
                <input type="hidden" name="lat" id="latitudRiesgo">
                <input type="hidden" name="lng" id="longitudRiesgo">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="RellenarInputs()">Guardar y Cerrar</button>
              </form>
            
          </div>
          <div class="col"></div>
        </div>
          
        </div>



        











      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>








<!--MODAL2-->

<div class="modal fade bd-example-modal-lg" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Acciones Preventivas / Avisos Preventivos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            
              <div class="col"></div>
              <div class="form-row">
                  <div class="col"><button type="button" class="btn btn-primary" onclick="location='/exporttocsv/<%= Playas.id%>'">Crear CSV Playa Actual</button></div>
                  <div class="col"><button type="button" class="btn btn-primary" onclick="location='/exporttocsv'">Crear CSV Todas las Playas</button></div>
              </div>
              <div class="col"></div>

          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div></div></div>

<!--MODAL3-->

<div class="modal fade bd-example-modal-lg" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Incidentes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-row">
          <div class="col"></div><div class="col-auto"><h5>Horario</h5></div><div class="col"></div>
      </div>
      <div class="form-row">
          <div class="col"></div><div class="col">
            <select class="form-control" id="SelectHorario">
                <option disabled selected>Selecciona una Opción</option>
                <option value="Dentro">Dentro</option>
                <option value="Fuera">Fuera</option>
              </select>
        </div><div class="col"></div>
      </div>
      <br>
      <div class="form-row">
          <div class="col">
              <select class="form-control" id="eventosSelect" onchange="onChange()">
                  <option disabled selected>Evento</option>
                  <% for(var i=0; i<Eventos.length; i++) {%>
                      <option value='<%= Eventos[i]._id %>'>
                        <%= Eventos[i].evento %>

                      </option>
                      <% } %>
                </select>
          </div>
          <div class="col">
              <select class="form-control" id="descripcionSelect">
                  <option disabled selected>Descripción</option>
                </select>
          </div>
          <div class="col">
              <select class="form-control" id="SelectConsecuencias">
                  <option disabled selected>Consecuencias</option>
                  <option value="Sin consecuencias">Sin consecuencias</option>
                  <option value="Recomendación de observación posterior">Recomendación de observación posterior</option>
                  <option value="Traslado a Centro Hospitalario">Traslado a Centro Hospitalario</option>
                  <option value="Ahogamiento mortal sin aspiración">Ahogamiento mortal sin aspiración</option>
                  <option value="Ahogamiento mortal con aspiración">Ahogamiento mortal con aspiración</option>
                  <option value="Fallecimiento sin ahogamiento">Fallecimiento sin ahogamiento</option>
                  <option value="Lesiones">Lesiones</option>
                  <option value="PCR recuperada y traslado a centro hospitalario">PCR recuperada y traslado a centro hospitalario</option>
                </select>
          </div>
        </div>


      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div></div></div>




                                  <!--Herramientas de Socorrista-->
                                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                
                                      <div class="card ">
                                          <div class="card-header text-center">
                                            SOCORRISTA DE PLAYA
                                          </div>
                                          <div class="card-body">
                                            <div class="list-group">
                                              <a href="#" class="list-group-item list-group-item-action"><img src="../icons/tool.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Modificar Playa</a>
                                              <a href="#" class="list-group-item list-group-item-action"><img src="../icons/location.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Ubicar Servicios en Playa</a>
                                              <a href="#" class="list-group-item list-group-item-action"><img src="../icons/up.png" width="20px"; height="20px"; />&nbsp;&nbsp;&nbsp;Dar de Alta un Riesgo</a>
                                            </div>
                                          </div>
                              
                                        </div>
                
                                  </div>
                            </div>
                </div></div>
    </body>
    <% include partials/Mapa %>
</html>