<head>
    <title>Servicios</title>
    <% include partials/head %>

    <script>
        var ServiciosLatitud = [];
        var ServiciosLongitud = [];

        var RiesgosLatitud = [];
        var RiesgosLongitud = [];

        var SucesosLatitud = [];
        var SucesosLongitud = [];

        var AvisosLatitud = [];
        var AvisosLongitud = [];
    </script>
    
    <% var PlayaNombre = Playas.nombre; var test=0; %>
    
                            <% 
                            var latt = 0;
                            for(var i = 0; i< UbicarServicio.length; i++ ) {
    
                                    var x = UbicarServicio[i].Playa 
                                    if(PlayaNombre === x){
                                    var LatitudF = UbicarServicio[i].Latitud;
                                    var LongitudF = UbicarServicio[i].Longitud; %>
                                        <script>
                                                var getLatitudF = <%= LatitudF  %>;
                                                var getLongitudF = <%= LongitudF  %>;
                                                ServiciosLatitud.push(getLatitudF);
                                                ServiciosLongitud.push(getLongitudF);
                                        </script> <%} %>
                            <% } %>

                            <% 
        
                            for(var i =0; i < Riesgos.length; i++){
                                
                                var y = Riesgos[i].playa
                                if(PlayaNombre === y){ 
                                    var latitudRiesgos = Riesgos[i].latitud;
                                    var longitudRiesgos = Riesgos[i].longitud;
                            %>
                                <script>
                                        var getLatitudRiesgos = <%= latitudRiesgos  %>;
                                        var getLongitudRiesgos = <%= longitudRiesgos  %>;
                                        RiesgosLatitud.push(getLatitudRiesgos);
                                        RiesgosLongitud.push(getLongitudRiesgos);
                                </script>
                            <%
                            } }

                            for(var i =0; i < Incidente.length; i++){
                                
                                var y = Incidente[i].Playa
                                if(PlayaNombre === y){ 
                                    var latitudSucesos = Incidente[i].Latitud;
                                    var longitudSucesos = Incidente[i].Longitud;
                                    
                            %>
                                <script>
                                        var getLatitudSucesos = <%= latitudSucesos  %>;
                                        var getLongitudSucesos = <%= longitudSucesos  %>;
                                        SucesosLatitud.push(getLatitudSucesos);
                                        SucesosLongitud.push(getLongitudSucesos);
                                </script>
                            <%
                            } }

                            for(var i =0; i < addActuacionReactiva.length; i++){
                                
                                var y = addActuacionReactiva[i].playa
                                if(PlayaNombre === y){ 
                                    var latitudAvisos = addActuacionReactiva[i].lat;
                                    var longitudAvisos = addActuacionReactiva[i].lng;
                                    
                            %>
                                <script>
                                        var getLatitudAvisos = <%= latitudAvisos  %>;
                                        var getLongitudAvisos = <%= longitudAvisos  %>;
                                        AvisosLatitud.push(getLatitudAvisos);
                                        AvisosLongitud.push(getLongitudAvisos);
                                </script>
                            <%
                            } }
                            
                            
                            %>


    <% include partials/Mapa %>
</head>

<div class="dashboard_container top-container">
    <div class="tab-content" id="myTabContent">
                <div class="card">
                        <div class="card-body Margenes">

                                        <h4><b>MOSTRAR MAPA</b></h4>
                                        <hr>
                                        <br>

                            <div class="form-row">
                                    <div class="col-2"></div>
                                    <div class="col">
                                            <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="Riesgos">
                                                    <label class="form-check-label" for="Riesgos">Riesgos</label>
                                            </div>
                                    </div>
                                    <div class="col">
                                            <div class="form-check ">
                                                    <input type="checkbox" class="form-check-input" id="Servicios">
                                                    <label class="form-check-label" for="Servicios">Servicios</label>
                                            </div>
                                    </div>
                                    <div class="col">
                                            <div class="form-check ">
                                                    <input type="checkbox" class="form-check-input" id="Avisos">
                                                    <label class="form-check-label" for="Avisos">Avisos</label>
                                            </div>
                                    </div>
                                    <div class="col">
                                            <div class="form-check ">
                                                    <input type="checkbox" class="form-check-input" id="Sucesos">
                                                    <label class="form-check-label" for="Sucesos">Sucesos</label>
                                            </div>
                                    </div>
                                    <div class="col-2"></div>
                            </div>
                            
                            <br><br>

                            <div id="map"></div>
                            
                            <script>
                                
                                $('#Servicios').change(function(){
                                    if (this.checked) {
                                        marcadoresServicios = 1;
                                    initMap();
                                    }else
                                    marcadoresServicios = 0; initMap();
                                });

                                $('#Riesgos').change(function(){
                                    if (this.checked) {
                                        marcadoresRiesgos = 1;
                                    initMap();
                                    }else
                                    marcadoresRiesgos = 0; initMap();
                                });

                                $('#Sucesos').change(function(){
                                    if (this.checked) {
                                        marcadoresSucesos = 1;
                                    initMap();
                                    }else
                                    marcadoresSucesos = 0; initMap();
                                });

                                $('#Avisos').change(function(){
                                    if (this.checked) {
                                        marcadoresAvisos = 1;
                                    initMap();
                                    }else
                                    marcadoresAvisos = 0; initMap();
                                });
                            </script>
                            
                        </div>
                </div>
    </div>
</div>