<head>
    <title>Servicios</title>
    <% include partials/head %>
    
</head>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3d6OC5uV4aQlVClt97CEULYxOvY7b1GU&callback=initMap">
</script>


 <h2 style="display:none;" id="bringLatitud"><%=UbicarServicio.Latitud %></h2>
<h2 style="display:none;" id="bringLongitud"><%=UbicarServicio.Longitud %></h2>
<h2 style="display:none;" id="UbicarServicio"><%=UbicarServicio%></h2>

<script type="text/javascript">
        $(document).ready(function() {

            var bringLatitud = $("#bringLatitud").html();
            var bringLongitud = $("#bringLongitud").html();
            var UbicarServicio = $("#UbicarServicio").html();   
        
          
           
            //var arrayservicios =  JSON.parse(UbicarServicio);
            // console.log(arrayservicios);
            //     arrayservicios.forEach(function(element) {
            //         console.log(element);
            //     });
    });
</script> 



<script>
    var map;
    var currentLatitud;
    var currentLongitud;

    var isMarcador = false;
    var isPoligono;
    var Marcador = 0;
    var latitud, longitud;
    var cerrarPoligono = 0;
    var poligono;
    var marker;
    var insertarPoligono = true;


    var list = [];
    var numeros = [];

    var listPolygon = [];
    var numerosPolygon = [];

    function EliminarMarcador() {
        marker.setMap(null);
        Marcador = 0;
        longitud = null;
        latitud = null;

        marcadorCounter=0;
 
    }


    function initMap(position) {

        //Valores Iniciales para Mapa
        var latlng = new google.maps.LatLng(43.477373, -3.787489);
        var options = {
                zoom: 15,
                center: latlng
            }
            // Defininar Mapa
        map = new google.maps.Map(document.getElementById('map'), options);

          
        //for(var i=0; i<UbicarServicio.length; i++) {
            
            marker = addMarker({
                    //coords: new google.maps.LatLng(bringLatitud[0], bringLongitud[0])
                    coords: new google.maps.LatLng(43.476968161034065, -3.7867379814758806)
                });
        //}

        
        google.maps.event.addListener(map, 'click', function(event) {
            
            if (Marcador == 0) {
                marker = addMarker({
                    coords: event.latLng
                });

                
                
                
                latitud = event.latLng.lat();
                longitud = event.latLng.lng();
                marcadorCounter=1;
                
                
                Marcador = 1;

                document.getElementById("latitudPost").value = latitud ;
                document.getElementById("longitudPost").value = longitud ;
                
                } 
                
                marker.addListener('dragend', function(event) {
                    latitud = event.latLng.lat();
                    longitud = event.latLng.lng();
                    document.getElementById("latitudPost").value = latitud ;
                document.getElementById("longitudPost").value = longitud ;
                });

        });

        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                draggable:true
            });
            return marker;
        }



    }

    //---------------------------------------------ELIMINAR MARCADOR------------------------------------------------------------------------
</script>

<div class="dashboard_container top-container">
    <div class="tab-content" id="myTabContent">
                <div class="card">
                        <div class="card-body Margenes">


                        <div class="form-row">
                                <div class="col">

                                        <select id="volume" class="form-control">
                                                        <option disabled selected>Seleccione un Servicio</option>  
                                        <% 
                                           
                                        for ( var i = 0; i < Servicio.length; i++ )
                                                {
                                                    Servicio[0].servicio == i;%>
                                                    <option value="<%=Servicio[ i ].servicio %>"><%=Servicio[i].servicio %></option><%
                                                }
                                        %>
                                        </select>
                                </div>
                                <div class="col"></div>
                        </div>
                        <br><br>
                        <div id="map"></div>


                        <br>
                        <form class="form-row" action="/ss" method="post">
                                <div class="col"><button  class="btn btn-info ">Guardar</button></div>
                                <div class="col"><input class="form-control" placeholder="Playa" id="NombrePlaya" name="Playa"></div>
                                <div class="col"><input class="form-control" placeholder="Latitud" id="latitudPost" name="Latitud"></div>
                                <div class="col"><input class="form-control" placeholder="Longitud" id="longitudPost" name="Longitud"></div>
                                <div class="col"><input class="form-control" placeholder="Servicio" id="mytext" name="Servicio"></div>
                                
                        </form>
                        
                        
                        
                        
                        <script type="text/javascript">
                            $(document).ready(function() {
                                var x = $("#uid").html(); 
                                console.log(x);
                                document.getElementById("NombrePlaya").value = x ;
                                
                            });
                        </script>
                        
                        <h2 style="display:none;" id="uid"><%=UbicarServicio[0].Latitud %></h2>
                        
                       
                        <script>
                                        $("#volume").change(function() {
                                                var val = $(this).val();
                                                console.log(val);
                                                document.getElementById("mytext").value = val ;
                                               
                                               console.log(x);
                                                //Codigo Encargado de llenar Array

                                        });
                        </script>





                        </div>
                </div>
    </div>
</div>            